.whiteKey{-fx-background-color:white;}
.whiteKey:hover{-fx-background-color:#f2f2f2;}

.blackKey{-fx-background-color:black;}
.blackKey:hover{-fx-background-color:#333333;}

.noteLabel {-fx-background-color: cadetblue;
            -fx-font: 20px;
            -fx-font-smoothing-type: lcd;}